@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@use "sass:map";

@include mat.core();

$m3-light-config: (
  color: (
    primary: matx.$m3-green-palette,
    tertiary: matx.$m3-blue-palette,
  ),
  density: (
    scale: -1,
  ),
);

$m3-dark-config: (
  color: (
    theme-type: dark,
    primary: matx.$m3-green-palette,
    tertiary: matx.$m3-blue-palette,
  ),
);


$themeLight: matx.define-theme($m3-light-config);
$themeDark: matx.define-theme($m3-dark-config);