$color-primary: #b2ffa6;
$color-action: #beeba0;
$color-medium-light: #94b57b;
$color-medium-dark: #618354;
$color-light-grey: #f2f3ea;
$color-medium-grey: #ababab;
$color-dark: #002200;
$color-yellow-ligth: #f9ffa6;
$color-box: #d4bc89;
$color-border-light: #dddfd2;;

$header-height: 3.4375rem;
$border-radius-default: 1rem;