$color-primary: #b2ffa6;
$color-action: #beeba0;
$color-medium-light: #94b57b;
$color-medium-dark: #618354;
$color-light-grey: #f2f3ea;
$color-medium-grey: #ababab;
$color-dark-grey: #717c6c;
$color-dark: #002200;
$color-yellow-ligth: #f9ffa6;
$color-box: #d4bc89;
$color-border-light: #dddfd2;
$color-text-dark-theme: #e2e3dc;
$color-input-dark: #323630;
$color-order-light: #e9f1e6;
$color-order-light-hover: #e5f3db;
$color-order-dark: #272b24;
$color-order-dark-hover: #31382b;


$header-height: 3.4375rem;
$footer-height: 8.5625rem;
$border-radius-default: 1rem;
$progress-bar-height: 2rem;