@import "variables";

.header {
  height: 55px;
  box-shadow: 0px 5px 14px #8888880f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  background: linear-gradient(to top left, #618354, #94b57b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__button button,
.header__button a {
  margin-right: 8px;
}

.header__icons {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: end;
}

.header__menu-responsive {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 52px);
  background: #f8f9f5;
}

@media only screen and (max-width: 576px) {
  .header__icons.buttons {
    display: none !important;
  }

  .mobile {
    align-items: flex-start;
    height: 100vh;
    position: fixed;
    top: 0;

    .header__container {
      flex-direction: column;
      justify-content: flex-start;
    }

    .header__logo {
      margin-top: 6px;
    }

    .header__icons.buttons {
      margin-top: 20px;
      display: flex !important;
    }

    .header__icons {
      width: 100%;
      flex-direction: column;

      li {
        width: 100%;
      }

      .mdc-button {
        width: 100%;
        text-align: left;
        justify-content: flex-start;
      }
    }

    .header__icons__toggle-button {
      position: absolute;
      width: auto;
      right: 28px;
      top: 4px;
    }
  }
}
