<main class="default-aunteticate-layout-component">
  <section class="main-section d-none d-lg-flex">
    <img src="/assets/images/autenticate_background.jpg" />
  </section>
  <section class="form-section">
    <mat-card class="autenticate-card">
      <mat-card-header>
        <mat-card-title class="custom-title">{{ title | translate }}</mat-card-title>
        <mat-card-subtitle>{{ subtitle | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="py-2">
        <ng-content></ng-content>
        <div class="btn-wrapper">
          <button
            mat-flat-button
            class="btn-primary"
            (click)="submit()"
            [disabled]="disablePrimaryBtn"
          >
            {{ primaryBtnText | translate }}
          </button>
          <div class="divider">
            <div></div>
            <span>ou</span>
            <div></div>
          </div>
          <button mat-stroked-button (click)="navigate()">
            {{ secondaryBtnText | translate }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</main>
