@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';


.example-card {
    width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .card-body {
    width: 18rem;
 }
 .swiper {
    width: 100%;
 }

 .swiper-slide{
    display: flex;
    justify-content: center;
    transition: all .4s ease;             
 } /*
 .swiper-slide.swiper-slide-prev{
     transform: translateX(15%);
 }           
 .swiper-slide.swiper-slide-next{
     transform: translateX(-15%);
 }
 */