<div class="carousel-card carousel-component" style="min-height: 400px;">
  <swiper
    #swiper
    [breakpoints]="breakpoints"
    [navigation]="false"
    [centeredSlides]="true"
    [loop]="false"
    [slideToClickedSlide]="true"
    [pagination]="{ clickable: true }"
    [scrollbar]="{ draggable: true }"
    (slideChange)="onSlideChange()"
  >
    @for (produto of produtos; track produto) {
    <ng-template swiperSlide>
      <app-card class="custom-card" 
      [produto]="produto"
      [filtroImagem]="filtroImagem"
      (notify)="onNotify($event)" />
    </ng-template>
    }
  </swiper>
  <div
    (click)="slidePrev()"
    class="carousel-button-prev"
    aria-label="Botão seta para a esquerda"
  >
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </div>
  <div
    (click)="slideNext()"
    class="carousel-button-next"
    aria-label="Botão seta para a direita"
  >
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </div>
</div>
