@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

.custom-card {
  width: 18.75rem;
}


.card-body {
  width: 18rem;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
} /*
 .swiper-slide.swiper-slide-prev{
     transform: translateX(15%);
 }           
 .swiper-slide.swiper-slide-next{
     transform: translateX(-15%);
 }
 */
