<ul class="menu-list">
  @for(product of cart; track product) {
  <li class="item" matRipple>
    <div
      class="item__elements d-flex justify-content-between align-items-center"
    >
      <div class="item__elements d-flex align-items-center">
        <img class="item__image" matListItemIcon [src]="product?.image" />
        <div>
          <h4 class="item__title mb-0 mdc-list-item__primary-text">
            {{product?.nome}}
          </h4>
          <p class="mb-0 mdc-list-item__secondary-text">
            R$ {{(product.precoMedioDiaria).toFixed(2)}}
          </p>
        </div>
      </div>
      <mat-icon (click)="removeFromCart(product?.id)" class="item-remove"
        >remove_circle</mat-icon
      >
    </div>
  </li>
  } @empty {
  <p class="text-center pt-3">{{ "PACOTE.VAZIO" | translate }}</p>
  } @if (cart?.length >0){
  <button (click)="openFullCart()" mat-flat-button class="button-custom">
    {{ "CONTINUAR" | translate }}
  </button>
  }
</ul>
