<app-default-autenticate-layout 
    [title]="'CRIE.SUA.CONTA'"
    [primaryBtnText]="'CADASTRE.SE'"
    [secondaryBtnText]="'INICIAR.SESSAO'"
    [disablePrimaryBtn]="!signupForm.valid"
    (submit)="submit()"
    (navigate)="navigate()"

    >
  <form [formGroup]="signupForm">
    <mat-form-field>
      <mat-label>{{ "SEU.NOME" | translate }}</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="Rafael Felipe"
        (keyup.enter)="submit()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "EMAIL" | translate }}</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Ex. oneway@example.com"
        (keyup.enter)="submit()"
      />
      @if (signupForm.controls.email.hasError('email') &&
      !signupForm.controls.email.hasError('required')) {
      <mat-error>{{ "INSIRA.EMAIL.VALIDO" | translate }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "SUA.SENHA" | translate }}</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide1 ? 'password' : 'text'"
        (keyup.enter)="submit()"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide1 = !hide1"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide1"
      >
        <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if (signupForm.controls.password.hasError('minlength') &&
      !signupForm.controls.password.hasError('required')) {
      <mat-error>{{ "SENHA.DEVE.TER.CARACTERES" | translate  }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "CONFIRME.SENHA" | translate }}</mat-label>
      <input
        matInput
        formControlName="passwordConfirm"
        [type]="hide2 ? 'password' : 'text'"
        (keyup.enter)="submit()"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide2 = !hide2"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2"
      >
        <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if (signupForm.controls.passwordConfirm.hasError('matching') &&
      !signupForm.controls.passwordConfirm.hasError('required')) {
      <mat-error>{{ "SENHA.NAO.IGUAIS" | translate }}</mat-error>
      }
    </mat-form-field>
  </form>
</app-default-autenticate-layout>
