@import "variables";

main {
    height: calc(100% - $header-height) ;
}

table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.teste::ng-deep.mat-column-acao {
    text-align: center !important;
    width: 200px !important;
}