@import "variables";

section {
  height: 100%;
  width: 100%;
}

.form-section {
  .autenticate-card {
    width: 100%;
    padding: 1rem 0;

    .custom-title {
      font-family: "Montserrat Alternates", sans-serif !important;
      font-weight: 800;
      margin-bottom: 1rem;
      color: $color-medium-light;
    }
  }

  .btn-back,
  .btn-new-item {
    border-radius: $border-radius-default;
  }
  .btn-back {
    background-color: $color-medium-light;
  }
}

mdc-progress-linear {
  height: $progress-bar-height;

  .mdc-container {
    height: $progress-bar-height;

    .mdc-bar {
      height: $progress-bar-height;
    }

    .mdc-dashed:before {
      height: $progress-bar-height;
    }
  }
}

.product {
  &__header {
    font-weight: bold;
    padding-bottom: 1rem;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: $color-border-light;
    border-style: solid;
  }
  &__row {
    height: 150px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: $color-border-light;
    border-style: solid;
  }
}
