<main class="cart-component my-4">
  <section class="form-section container">
    <mat-card class="autenticate-card">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="custom-title text-center d-flex align-items-center">
          <button
            (click)="back()"
            mat-icon-button
            class="btn-back m-1"
            aria-label="Voltar"
          >
            <fa-icon [icon]="faAngleLeft"></fa-icon></button
          >{{title}}
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="py-2 px-5">
        <div class="col my-4">
          <mat-progress-bar
            class="cart__progress-bar"
            mode="determinate"
            [value]="products.length == 0 ? 0 : (isFromOrder ? 100 : 70)"
          ></mat-progress-bar>
        </div>

        <div class="product">
          @if (products.length == 0) {
            <p class="text-center pt-3">Pacote vazio!</p>
          } @else {
            <div class="row product__header d-flex align-items-center">
              <div class="col-5"><span>Produto</span> </div>
              <div class="col-2"><span>Categoria</span></div>
              <div class="col-2"><span>Quantidade</span></div>
              <div class="col-2"><span>Subtotal</span></div>
              @if (!isFromOrder) {
                <div class="col-1 text-center"><span>Ação</span></div>
              }
            </div>
          }
          @for (product of products; track product) {
          <div class="row product__row d-flex align-items-center">
            <div class="col-5">
              <div class="product__row__description d-flex align-items-center">
                <img
                  [src]="product?.image"
                  alt="Photo of product"
                  class="custom-img"
                />
                <div class="ms-3">
                  <h4>{{ product?.nome }}</h4>
                  <p class="cut-text">{{ product?.descricao }}</p>
                  <p class="address mt-1">{{ product?.cidade?.estado?.pais?.nome }}, {{ product?.cidade?.estado?.nome }}, {{ product?.cidade?.nome }}</p>
                </div>
              </div>
            </div>
            <div class="col-2"><p>{{ ProductType.getTypeText(product?.id_Tipo) }}</p></div>
            <div class="col-2"><p>1</p></div>
            <div class="col-2">
              <p>R$ {{ product.precoMedioDiaria.toFixed(2) }}</p>
            </div>
            @if (!isFromOrder) {
              <div class="col-1 text-center">
                <button
                  (click)="removeFromCart(product.id)"
                  mat-icon-button
                  class="m-1"
                  aria-label="Remove Product"
                >
                  <fa-icon [icon]="faTrashCan"></fa-icon>
                </button>
              </div>
            }
          </div>
          }
        </div>
        <div class="row mt-5">
          <div class="travel-name-field col">
          @if (!isFromOrder) {
            <h3>Que tal um nome para sua viagem?</h3>
            <mat-form-field class="mt-2 travel-name-field-input">
              <input type="text" matInput placeholder="Escreva aqui" [formControl]="name" maxlength="40"/>
            </mat-form-field>
          }
          </div>
          <div class="col d-flex align-items-end">
            @if (!isFromOrder) {
              <button
                [disabled]="products?.length == 0"
                mat-flat-button
                class="button-custom"
                (click)="finish()"
              >
                Finalizar Pacote
              </button>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</main>
