@import "variables";

.home__custom-carousel {
  ::ng-deep .swiper {
    border-radius: 0.6rem;
  }
}

.home__title {
  font-size: 2rem;
  margin: 6.2rem 0;
  color: #ffffff;

  b {
    color: $color-yellow-ligth;
  }
}

.home__background-image {
  border-radius: 1rem !important;
  width: 100%;
  max-width: 91.875rem;
  height: 22.5rem;
  z-index: -100;
  position: absolute;
  top: 15rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../../../assets/images/home_background.jpg");
  background-repeat: no-repeat;
  background-position-y: -36.25rem;
  background-position-x: left;
  background-size: 105.625rem;
}

.home__search {
  margin-bottom: 4.5rem;
}