@use "@angular/material" as mat;
@import "custom-theme-config";
@import "variables";

::ng-deep .dark {
  .mdc-tab {
    span {
      color: $color-text-dark-theme;
    }
    &--active {
      span {
        color: $color-primary !important;
      }
    }
  }

  .mdc-tab:hover {
    span {
      color: $color-primary !important;
    }
  }

  .mat-mdc-tab-label-container {
    border-bottom-color: mat.get-theme-color($themeDark, surface);
  }
}

.custom-tab-group {
  height: 50px;
}
