<div class="search">
  <form [formGroup]="searchGroup" class="example-form flex-center">
    <div class="container__buttons flex-center">
      <mat-form-field class="search__input-where">
        <mat-label>A partir de onde?</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="search__input-where">
        <mat-label>E para onde?</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="search__input-date">
        <mat-label>Quando?</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            placeholder="Data Início"
          />
          <input matEndDate formControlName="end" placeholder="Data Fim" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button mat-fab extended color="primary" aria-label="Botão de busca">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
    </div>
  </form>
</div>
