<div class="search search-component">
  <form [formGroup]="searchGroup" (ngSubmit)="submit()" class="example-form flex-center">
    <div class="container__buttons flex-center">
      <mat-form-field class="search__input-where">
        <mat-label>{{ "PARTIR.DE.ONDE" | translate }}</mat-label>
        <input #inputFrom
               type="text"
               matInput
               formControlName="from"
               [matAutocomplete]="autoFrom"
               (input)="filter($event, 'from')">
        <mat-autocomplete requireSelection  #autoFrom="matAutocomplete" [displayWith]="displayFn">
          @for (option of locationListFrom; track trackById) {
            <mat-option [value]="option">{{option.valor}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="search__input-where">
        <mat-label>{{ "PARA.ONDE" | translate }}</mat-label>
        <input #inputTo
               type="text"
               matInput
               formControlName="to"
               [matAutocomplete]="autoTo"
               (input)="filter($event, 'to')">
        <mat-autocomplete requireSelection #autoTo="matAutocomplete" [displayWith]="displayFn">
          @for (option of locationListTo; track trackById) {
            <mat-option [value]="option">{{option.valor}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <button type="submit" mat-fab extended color="primary" class="btn-search" aria-label="Botão de busca" [disabled]="searchGroup.invalid">
        <mat-icon>search</mat-icon>
        {{ "BUSCAR" | translate }}
      </button>
    </div>
  </form>
</div>
